header {
  background-color: #ff6b42;
  margin-bottom: 2rem;
  padding: 2.5rem 2rem 1.5rem;
}

body {
  background-color: #f8f2e8;
}

.josefin-sans-title {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-size: 3rem;
}

.josefin-sans-deck {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.btn-primary, .btn-primary:hover, .btn-primary:active {
  background-color: #739159;
  border: #739159;
}

.btn-danger {
  background-color: #ff6b42;
  border: #ff6b42;
}

.btn-secondary {
  background-color: #f8f2e8;
  color: #526d3a;
  border-color: #f8f2e8;
}

.btn-border {
  border-width: .2rem;
  border-color: #739159;
}

.rcorners3, .reversercorner, .customForm {
  border-radius: 3rem;
  border-color: #526d3a;
  border-width: .8rem;
}

.customForm  {
  padding: 1rem;
  margin: 0 2rem 4rem;
}

/* .allRoundCard{
  border-radius: 2rem;
  border-color: #526d3a;
  border-width: 4px;
  margin: .5rem;
} */



/* .border-thick {
    border-width: 40px;
} */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.item {
  width: 100%;
  margin: auto 1rem;
  /* padding-bottom: 32%; Same as width, sets height */
  position: relative;
}

  /* title of decks */
h3 {
  font-size: 1.8rem;
}

.deck-description {
  margin: auto 2.2rem;
}

.card-title {
  font-size: 1.5rem;
}

.card-subtitle {
  color: #739159;
  margin-bottom: 1rem;
}

  .studyCard {
    margin: 5%;
  }

  .breadcrumb-link {
    color: #526d3a;
    text-decoration: none;
  }

  @media all and (min-width: 800px) {
    /* // <uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 100 to 700 */
    
    body {
      background-color: #f8f2e8;
    }

    header {
      background-color: #ff6b42;
      margin-bottom: 2%;
      padding: 3%;
    }

    hr {
      border-color: #ff6b42;
      width: 80%;
      border-width: 3px;
      background-color: #ff6b42;
    }
    
    nav a {
      color: #526d3a;
      text-decoration: none;
    }

    .btn-primary {
      background-color: #739159;
      border: #739159;
    }

    .btn-primary:hover, .btn-primary:active{
      background-color: #526d3a !important;
    }

    .btn-secondary {
      background-color: #f8f2e8;
      color: #526d3a;
    }

    .btn-border {
      border-width: 2px;
      border-color: #739159;
    }

    .btn-secondary:hover, .btn-secondary:active {
      background-color: #c6b79c !important;
      border-color: #c6b79c;
    }

    .btn-danger {
      background-color: #ff6b42;
      border: #ff6b42;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .item {
      width: 45%;
      padding-bottom: 32%;
      margin-bottom: 2%; 
      position: relative;
    }

    .customForm  {
      width: 50%;
      margin: 0 auto;
      padding: 5%;
    }

    .allRoundCard {
      border-radius: 50px;
      border-color: #526d3a;
      border-width: 4px;
    }

    .studyCard {
      width: 50%;
      margin: 0 auto;
    }

    .rcorners3 {
      border-radius: 15px 50px;
      border-color: #526d3a;
      border-width: 4px;
    }

    .reversercorner {
      border-radius: 50px 15px ;
      border-color: #526d3a;
      border-width: 4px;
    }

    .breadcrumb-link {
      color: #526d3a;
      text-decoration: none;
    }
  }