header {
  background-color: #ff9a42;
  margin-bottom: 5%;
  padding: 5%;
}

.border-thick {
    border-width: 40px;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .item {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 32%; /* Same as width, sets height */
    position: relative;
  }

  .studyCard {
    margin: 5%;
  }

  @media all and (min-width: 800px) {
    body {
      background-color: #f8f2e8;
    }

    header {
      background-color: #ff6b42;
      margin-bottom: 4%;
      padding: 3%;
      /* mb-4 p-5 */
    }
    
    .btn-primary {
      background-color: #739159;
      border: #739159;
    }

    .btn-primary:hover, .btn-primary:active{
      background-color: #526d3a !important;
    }

    .btn-secondary {
      background-color: #f8f2e8;
      color: #739159;
      border: #739159;
    }

    .btn-secondary:hover, .btn-secondary:active {
      background-color: #c6b79c !important;
    }

    .btn-danger {
      background-color: #ff6b42;
      border: #ff6b42;
    }

    .item {
      width: 45%;
      padding-bottom: 32%; /* Same as width, sets height */
      margin-bottom: 2%; /* (100-32*3)/2 */
      position: relative;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    
      .item {
        width: 45%;
        padding-bottom: 32%; /* Same as width, sets height */
        margin-bottom: 2%; /* (100-32*3)/2 */
        position: relative;
      }

      .customForm, .studyCard {
        width: 50%;
        margin: 0 auto;
      }
  }